<partial name="_Breadcrumbs" model=@(new [] {  ("/", "Home"), 
    ("","Private")  })>
<h1>Privacy Policy</h1>

<p>sssshhhhhh...it's private here. 
    
There's no cookies <strong>unless you brought enough for all the class.</strong></p>

<img src="https://c4.wallpaperflare.com/wallpaper/638/16/982/keanu-reeves-black-and-white-wallpaper-preview.jpg" class="img-fluid">



